[eal options]
-n=4 ; force number of memory channels
no-output=no ; disable DPDK debug output
eal=--allow 0000:d8:01.0

[port 0]
name=50.168.10.190
mac=9e:16:dd:7e:e7:a5
promiscuous=no
mtu size=1500

[defaults]
mempool size=16K

[global]
name=PROX Sender IPv4

[core 11]
mode=master

[core 13]
name=Sender
task=0
mode=gen
;sub mode=l3
tx port=50.168.10.190
bps=$bps
; pcap file=/home/ubuntu/intel-pcap-ipv4-1-100
pkt inline=42 27 26 63 E1 5E 9E 16 DD 7E E7 A5 08 00 45 00 00 42 00 01 00 00 40 11 FF DD 32 A8 0A BF 32 A8 0A BE 04 D2 04 D2 00 2E C6 6C 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A
local ipv4=50.168.10.190

