[eal options]
-n=4 ; force number of memory channels
no-output=no ; disable DPDK debug output
eal=--create-uio-dev --allow 0000:b3:0a.3

[port 0]
name=ipv6
;mac=02:1F:0D:C4:29:8F
promiscuous=no
mtu size=1500

[defaults]
mempool size=16K

[global]
name=PROX Sender ipv6

[core 4]
mode=master

[core 5]
name=Sender
task=0
mode=gen
sub mode=ndp
global ipv6=abcd::2
;local ipv6=
tx port=ipv6
bps=$bps
; pcap file=/home/ubuntu/intel-pcap-ipv6-1-100-kernel
pkt inline=9E 71 FA 9E 06 F0 02 1F 0D C4 29 8F 86 DD 60 00 00 00 00 2E 11 40 AB CD 00 00 00 00 00 00 00 00 00 00 00 00 00 02 AB CD 00 00 00 00 00 00 00 00 00 00 00 00 00 01 04 D2 04 D2 00 2E E9 9B 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A 5A

[core 12]
name=Default
task=0
mode=nop
sub mode=ndp
rx port=ipv6
global ipv6=abcd::2
